<a href="https://colab.research.google.com/github/syedaBasmaAfreen/ML-projects/blob/main/titanic_survival_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# âŒ¨

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Load the data from csv file to Pandas DataFrame
df=pd.read_csv('/content/train.csv')
df

In [ ]:

df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df['Age'].max()

In [ ]:
df[df['Age']>40]

In [ ]:
#check how many people Survived
df[df['Survived']==1]

*`slice the dataset based on the values of rows & columns`*

In [ ]:
df.iloc[: 5, 4:6]

In [ ]:
df.loc[: 5,["Age","Fare"]] #selecting rows and col

In [ ]:
df2.loc[(df.Sex=='male') & (df2.Survived==1)&(df2.Embarked=='S')&(df2.Age<=30)]

In [ ]:
x=df.loc[(df.Age>=20) & (df.Survived==1)]
x

In [ ]:
x=df.loc[(df.Age>=20)&(df.Sex=='male')]
x

In [ ]:
df2.loc[(df.Sex=='male') & (df2.Survived==1)&(df2.Embarked=='S')&(df2.Age<=30)]

In [ ]:
x=df.loc[(df.Pclass==3)&(df.Sex=='male')&(df.Fare>=15.6)]
x
x.loc[: 10 ,["Name","Sex","Pclass","Fare"]]

In [ ]:
df['Sex'].value_counts()

#df['Sex'].tolist().count('female')
#Or
#df['Sex'].value_counts()['male']

In [ ]:
df.drop(['Name' , 'Ticket', 'Fare','Cabin'], axis=1 , inplace=True)

In [ ]:
df.info()

In [ ]:
df['Age'].interpolate(inplace = True)

In [ ]:
df.info()

In [ ]:
y=pd.get_dummies(df['Embarked'])
y

In [ ]:
df2=pd.concat([df,y] , axis=1)
df2

In [ ]:
df2.info()

# **Data Collection and preprocessing**

logistic regresion

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model  import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# no. of rows and Columns
df2.shape

In [ ]:
# getting some info about the data
df2.info()

In [ ]:
# checking the number of missing values in each column
df2.isnull().sum()

Handling missing values

In [ ]:
# Replacing the missing values in "Age" column with mean value
df2['Age'].fillna(df2['Age'].mean(),inplace=True)

In [ ]:
# Finding the mode value of "Embarked" column
print(df2['Embarked'].mode())

In [ ]:
print(df2['Embarked'].mode()[0])

In [ ]:
# Replacing the missing values in "Embarked" column with mode value
df2['Embarked'].fillna(df2['Embarked'].mode()[0],inplace=True)

In [ ]:
#missing values in each column
df2.isnull().sum()

Data Analysis

In [ ]:
# getting some  statistical  measure  about O The data
df3=df2.describe()
df3

In [ ]:
#Finding the number of people survived and not survived
df2['Survived'].value_counts()

Data visualization

In [ ]:
sns.set()

In [ ]:
# making a count plot for "Survived" column
sns.countplot(x=df2['Survived'], data=df2)

In [ ]:
df2['Sex'].value_counts()

In [ ]:
#Making a count plot for "Sex" column
sns.countplot(x='Sex',data=df2)

In [ ]:
# making a count plot for "sex" coloumn
sns.countplot(y='Sex',data=df2)

In [ ]:
#Number of survivors Gender wise
sns.countplot(x='Sex',hue='Survived',data=df2)

In [ ]:
#Making a count plot for "Pclass" column
sns.countplot(x='Pclass',data=df2)

In [ ]:
sns.countplot(x='Pclass',hue='Survived',data=df2)

:  ***Encoding Categorical Columns***

In [ ]:
df2['Sex'].value_counts()

In [ ]:
df2['Embarked'].value_counts()

In [ ]:
#Converting categorical Columns
df2.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [ ]:
df2.head()

**Separating features and target**

In [ ]:
X=df2.drop(columns=['PassengerId','Survived'],axis=1)
y=df2['Survived']

In [ ]:
X

In [ ]:
y

***Splitting the data into training and testing***

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

Model training

***Logistic  Regression***

In [ ]:
model = LogisticRegression()

In [ ]:
#Training the Logistic Regression model with training data
model.fit(X_train, y_train)

Model Evaluation

***Accuracy score***

In [ ]:
#Accuracy on training data
X_train_prediction = model.predict(X_train)

In [ ]:
X_train_prediction

In [ ]:
training_data_accuracy = accuracy_score(y_train, X_train_prediction)
print('Accuracy score of training data : ', training_data_accuracy)

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)

In [ ]:
X_test_prediction

In [ ]:
test_data_accuracy = accuracy_score(y_test, X_test_prediction)
print('Accuracy score of test data : ', test_data_accuracy)